# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
flow-flation-client/node_modules
flow-flation-client/.pnp
flow-flation-client/.pnp.js

# testing
flow-flation-client/coverage

# production
flow-flation-client/build

# misc
flow-flation-client/.DS_Store
flow-flation-client/.env.local
flow-flation-client/.env.development.local
flow-flation-client/.env.test.local
flow-flation-client/.env.production.local
flow-flation-client/.env*

flow-flation-client/npm-debug.log*
flow-flation-client/yarn-debug.log*
flow-flation-client/yarn-error.log*

*.pkey
testnet-account.pkey

