# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
flow-inflation-client/node_modules
flow-inflation-client/.pnp
flow-inflation-client/.pnp.js

# testing
flow-inflation-client/coverage

# production
flow-inflation-client/build

# misc
flow-inflation-client/.DS_Store
flow-inflation-client/.env.local
flow-inflation-client/.env.development.local
flow-inflation-client/.env.test.local
flow-inflation-client/.env.production.local
flow-inflation-client/.env*

flow-inflation-client/npm-debug.log*
flow-inflation-client/yarn-debug.log*
flow-inflation-client/yarn-error.log*

*.pkey
testnet-account.pkey
mainnet-account.pkey

